<?xml version="1.0" encoding="UTF-8"?>
<phpunit	bootstrap=""
			backupGlobals="false"
			backupStaticAttributes="false"
			strict="true"
			verbose="true"
			timeoutForSmallTests="5">
<testsuites>
	<testsuite name="Ps3 Test Suite">
		<directory suffix=".php">class</directory>
	</testsuite>
</testsuites>
<filter>
	<whitelist>
		<directory>../class/</directory>
	</whitelist>
</filter>
<logging>
	<log type="coverage-html" target="build/report" title="PS3"
		charset="UTF-8" yui="true" highlight="true"
		lowUpperBound="35" highLowerBound="70"/>
</logging>
</phpunit>